<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="m1013">

  <xacro:arg name="model"   default="m1013"/>
  <xacro:property name="gripper" value="$(arg gripper)"/>
  <xacro:property name="isaac_sim" value="$(arg isaac_sim)"/>

  <xacro:if value="${gripper == 'none' and isaac_sim != 'true'}">
    <group name="manipulator">
      <chain base_link="base_link" tip_link="tool0"/>
    </group>
  </xacro:if>

  <xacro:if value="${gripper != 'none' or isaac_sim == 'true'}">
    <group name="manipulator">
      <chain base_link="base_link" tip_link="grasp_frame"/>
    </group>
  </xacro:if>

  <!-- Group States -->
  <group_state name="all-zeros" group="manipulator">
    <joint name="joint_1" value="0"/>
    <joint name="joint_2" value="0"/>
    <joint name="joint_3" value="0"/>
    <joint name="joint_4" value="0"/>
    <joint name="joint_5" value="0"/>
    <joint name="joint_6" value="0"/>
  </group_state>

  <group_state name="set" group="manipulator">
    <joint name="joint_1" value="0"/>
    <joint name="joint_2" value="0"/>
    <joint name="joint_3" value="1.5708"/>
    <joint name="joint_4" value="0"/>
    <joint name="joint_5" value="1.5708"/>
    <joint name="joint_6" value="0"/>
  </group_state>

  <!-- Base Robot Self-Collision Disable -->
  <disable_collisions link1="base_link" link2="link_1" reason="Adjacent"/>
  <disable_collisions link1="base_link" link2="link_3" reason="Never"/>

  <disable_collisions link1="link_1" link2="link_2" reason="Adjacent"/>
  <disable_collisions link1="link_1" link2="link_3" reason="Never"/>
  <disable_collisions link1="link_1" link2="link_5" reason="Never"/>
  <disable_collisions link1="link_1" link2="link_6" reason="Never"/>

  <disable_collisions link1="link_2" link2="link_3" reason="Adjacent"/>
  <disable_collisions link1="link_2" link2="link_4" reason="Never"/>
  <disable_collisions link1="link_2" link2="link_5" reason="Never"/>
  <disable_collisions link1="link_2" link2="link_6" reason="Never"/>

  <disable_collisions link1="link_3" link2="link_4" reason="Adjacent"/>
  <disable_collisions link1="link_3" link2="link_5" reason="Never"/>
  <disable_collisions link1="link_3" link2="link_6" reason="Never"/>

  <disable_collisions link1="link_4" link2="link_5" reason="Adjacent"/>
  <disable_collisions link1="link_4" link2="link_6" reason="Never"/>

  <disable_collisions link1="link_5" link2="link_6" reason="Adjacent"/>
  <disable_collisions link1="link_6" link2="tool0"  reason="Adjacent"/>

  <!-- Robotiq 2F-85 Collision -->
  <xacro:if value="${gripper == '2f85'}">
    <xacro:include filename="$(find dsr_cumotion)/srdf/robotiq_2f_85.srdf.xacro"/>
    <xacro:robotiq_2f85_srdf name="robotiq_2f85" prefix=""/>

    <disable_collisions link1="robotiq_85_base_link" link2="link_5" reason="Never"/>
    <disable_collisions link1="robotiq_85_base_link" link2="link_6" reason="Adjacent"/>
    <disable_collisions link1="robotiq_85_base_link" link2="tool0"  reason="Adjacent"/>

    <disable_collisions link1="robotiq_85_left_finger_link"      link2="link_5" reason="Never"/>
    <disable_collisions link1="robotiq_85_left_finger_link"      link2="link_6" reason="Never"/>
    <disable_collisions link1="robotiq_85_left_finger_link"      link2="tool0"  reason="Never"/>

    <disable_collisions link1="robotiq_85_left_finger_tip_link"  link2="link_5" reason="Never"/>
    <disable_collisions link1="robotiq_85_left_finger_tip_link"  link2="link_6" reason="Never"/>
    <disable_collisions link1="robotiq_85_left_finger_tip_link"  link2="tool0"  reason="Never"/>

    <disable_collisions link1="robotiq_85_left_inner_knuckle_link" link2="link_5" reason="Never"/>
    <disable_collisions link1="robotiq_85_left_inner_knuckle_link" link2="link_6" reason="Never"/>
    <disable_collisions link1="robotiq_85_left_inner_knuckle_link" link2="tool0"  reason="Never"/>

    <disable_collisions link1="robotiq_85_left_knuckle_link" link2="link_5" reason="Never"/>
    <disable_collisions link1="robotiq_85_left_knuckle_link" link2="link_6" reason="Never"/>
    <disable_collisions link1="robotiq_85_left_knuckle_link" link2="tool0"  reason="Never"/>

    <disable_collisions link1="robotiq_85_right_finger_link" link2="link_5" reason="Never"/>
    <disable_collisions link1="robotiq_85_right_finger_link" link2="link_6" reason="Never"/>
    <disable_collisions link1="robotiq_85_right_finger_link" link2="tool0"  reason="Never"/>

    <disable_collisions link1="robotiq_85_right_finger_tip_link" link2="link_5" reason="Never"/>
    <disable_collisions link1="robotiq_85_right_finger_tip_link" link2="link_6" reason="Never"/>
    <disable_collisions link1="robotiq_85_right_finger_tip_link" link2="tool0"  reason="Never"/>

    <disable_collisions link1="robotiq_85_right_inner_knuckle_link" link2="link_5" reason="Never"/>
    <disable_collisions link1="robotiq_85_right_inner_knuckle_link" link2="link_6" reason="Never"/>
    <disable_collisions link1="robotiq_85_right_inner_knuckle_link" link2="tool0"  reason="Never"/>

    <disable_collisions link1="robotiq_85_right_knuckle_link" link2="link_5" reason="Never"/>
    <disable_collisions link1="robotiq_85_right_knuckle_link" link2="link_6" reason="Never"/>
    <disable_collisions link1="robotiq_85_right_knuckle_link" link2="tool0"  reason="Never"/>
    <disable_collisions link1="grasp_frame"   link2="robotiq_85_base_link" reason="Adjacent"/>
    <disable_collisions link1="gripper_frame" link2="robotiq_85_base_link" reason="Adjacent"/>
  </xacro:if>

  <!-- VGC10 Collision -->
  <xacro:if value="${gripper == 'vgc10'}">

    <disable_collisions link1="link_6" link2="onrobot_vgc10_base_link" reason="Adjacent"/>
    <disable_collisions link1="tool0"  link2="onrobot_vgc10_base_link" reason="Adjacent"/>
    <disable_collisions link1="gripper_frame" link2="onrobot_vgc10_base_link" reason="Adjacent"/>

    <disable_collisions link1="onrobot_vgc10_base_link" link2="suction1" reason="Adjacent"/>
    <disable_collisions link1="onrobot_vgc10_base_link" link2="suction2" reason="Adjacent"/>
    <disable_collisions link1="onrobot_vgc10_base_link" link2="suction3" reason="Adjacent"/>
    <disable_collisions link1="onrobot_vgc10_base_link" link2="suction4" reason="Adjacent"/>

    <disable_collisions link1="suction1" link2="suction2" reason="Never"/>
    <disable_collisions link1="suction1" link2="suction3" reason="Never"/>
    <disable_collisions link1="suction1" link2="suction4" reason="Never"/>

    <disable_collisions link1="suction2" link2="suction3" reason="Never"/>
    <disable_collisions link1="suction2" link2="suction4" reason="Never"/>

    <disable_collisions link1="suction3" link2="suction4" reason="Never"/>

    <disable_collisions link1="grasp_frame" link2="onrobot_vgc10_base_link" reason="Adjacent"/>

  </xacro:if>

  <xacro:if value="${isaac_sim == 'true'}">
    <disable_collisions link1="link_6" link2="vision_bracket" reason="Never"/>
    <disable_collisions link1="tool0" link2="vision_bracket" reason="Adjacent"/>
    <disable_collisions link1="tool0" link2="d435i_camera" reason="Adjacent"/>
    <disable_collisions link1="grasp_frame" link2="tool0" reason="Never"/>
    <disable_collisions link1="grasp_frame" link2="robotiq_85_left_finger_tip_link"  reason="Never"/>
    <disable_collisions link1="grasp_frame" link2="robotiq_85_right_finger_tip_link" reason="Never"/>

    <disable_collisions link1="vision_bracket" link2="tool0" reason="Adjacent"/>
    <disable_collisions link1="vision_bracket" link2="robotiq_85_base_link" reason="Never"/>

    <disable_collisions link1="d435i_camera" link2="vision_bracket" reason="Adjacent"/>
    <disable_collisions link1="d435i_camera" link2="robotiq_85_left_finger_tip_link"  reason="Never"/>
    <disable_collisions link1="d435i_camera" link2="robotiq_85_right_finger_tip_link" reason="Never"/>
  </xacro:if>
</robot>
